@import "../../../../theme/mixins.scss";

.container {
    height: 100%;

    &__row {
        &--screen {
            height: 12%;
        }

        &--actions {
            height: 88%;
        }
    }

    &__button {
        border: 0.5px solid #c0c0c0;
        box-shadow: 0 0 30px 2px rgba(0, 0, 0, 0.16);
        @include breakpoint-size(ms-small) {
            font-size: var(--fs-text-sm);
        }
    }

    &__input {
        color: #000;
        @include breakpoint-size(ms-small) {
            text-align: right;
            font-size: 2.3rem;
            --placeholder-color: #000;
            --placeholder-opacity: 1;
            --placeholder-font-weight: 900;
        }
    }
}

.buttons {
    height: 100%;
    &__row {
        height: 20%;
    }
}

.actions {
    height: 100%;

    &__row {
        height: 50%;
    }
}
