<form [formGroup]="form">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <h2>Etiqueta</h2>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <img *ngIf="imgURL" [src]="imgURL" width="200" height="200" />
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-button (click)="getCamera()" expand="block" fill="clear" shape="round">
          Tomar foto
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Verifico*</ion-label>

          <ion-select interface="action-sheet" placeholder="Seleccione nombre" formControlName="qualityInspector"
            (ionChange)="onUserSelected($event)">
            <ion-select-option *ngFor="let user of users$ | async" [value]="user">{{ user.fullName }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="stacked">Puesto</ion-label>
          <ion-input type="text" disabled="true" formControlName="job" value="{{userJob}}" placeholder="{{userJob}}">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>