<ion-list>
  <ion-radio-group [formControl]="form">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="4">
          <ion-list-header style="display: flex; flex-direction: column;">
            <ion-label>{{title}}</ion-label>
            <ion-label>{{subtitle}}</ion-label>
          </ion-list-header>
        </ion-col>
        <ion-col size="4">
          <ion-item>
            <ion-label>Aceptado</ion-label>
            <ion-radio [value]="true"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <ion-item>
            <ion-label>Rechezado</ion-label>
            <ion-radio [value]="false"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-radio-group>
</ion-list>