@import "../../../../../../theme/mixins.scss";

.container {
    &__group {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    &__header {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    &__title {
        @include breakpoint-size(ms-small) {
            font-size: var(--fs-text-sm);
        }
    }

    &__subtitle {
        @include breakpoint-size(ms-small) {
            font-size: var(--fs-text-xsm);
        }
    }

    &__label {
        text-align: left;
    }

    &__item {
        width: 25%;
    }
}
