<form [formGroup]="form" class="form">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <h2>{{titleForm}}</h2>
        </ion-item>
      </ion-col>
      <ion-col size="12" style="display: flex; flex-direction: column;">
        <h5>{{infoOne}}</h5>
        <h5>{{infoTwo}}</h5>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-input type="text" formControlName="value" placeholder="Ingrese temperatura"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="stacked">Observaciones</ion-label>
          <ion-textarea formControlName="observations"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-radio-group name="auto" value="tesla" formControlName="accepted">
            <ion-list-header>
              <ion-label>Materia Prima</ion-label>
            </ion-list-header>
            <ion-row>
              <ion-col size="6">
                <ion-item>
                  <ion-label>Aceptado</ion-label>
                  <ion-radio [value]="true"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col size="6">
                <ion-item>
                  <ion-label>Rechazado</ion-label>
                  <ion-radio [value]="false"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-radio-group>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>