<title-header
  [titlePath]="'Regresar'"
  [path]="'/'"
  [title]="'Men&uacute;'"
></title-header>

<ion-content>
  <ion-grid>
    <ion-row size="12">
      <ion-col size="12">
        <h1 class="title-menu">Men&uacute;</h1>
        <br /><br /><br /><br />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="center"
        ><ion-button size="6" class="btn-class"
          >Entrada<br />Carne</ion-button
        ></ion-col
      >
      <ion-col class="center"
        ><ion-button size="6" class="btn-class"
          >Entrada<br />Paquetes</ion-button
        ></ion-col
      >
    </ion-row>
    <ion-row>
      <ion-col class="center">
        <ion-button>Entrada<br />Secos</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
