<ion-header>
  <ion-toolbar>
    <ion-title>fourth-form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed class="container">
    <ion-row class="container container__row container__row--form-above">
      <ion-col class="container container__column" size="12">
        <app-basic-form [titleForm]="'Empaque'" [infoOne]="'Sin daños y limpio'"
          [placeholderMessage]="'Ingrese empaque'" [typeValue]="'text'" #packingForm
          (onSubmit)="onSubmitPacking($event)"></app-basic-form>
      </ion-col>
    </ion-row>
    <ion-row class="container container__row container__row--form-below">
      <ion-col class="container container__column" size="12">
        <app-basic-form [titleForm]="'Olor'" [infoOne]="'Característico'" [placeholderMessage]="'Ingrese olor'"
          [typeValue]="'text'" #odorForm (onSubmit)="onSubmitOdor($event)">
        </app-basic-form>
      </ion-col>
    </ion-row>
    <ion-row class="container container__row container__row--action">
      <ion-col class="container container__column ion-justify-content-center ion-align-items-center" size="12">
        <ion-button class="container container__button" [disabled]="packingForm.form.invalid || odorForm.form.invalid"
          (click)="onNextPage()" expand="block" shape="round" color="primary">
          Siguiente
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>