<title-header [titlePath]="'Regresar'" [title]="'Entrada Carnes'" (onBack)="onBack($event)"></title-header>

<ion-content>
  <ion-grid class="container container--all" fixed>
    <ion-row class="container container__row container__row--form">
      <ion-col class="container container__column" size="12">
        <seventh-form #seventhForm (onSubmit)="onSubmitSeventh($event)"></seventh-form>
      </ion-col>
    </ion-row>
    <ion-row class="container container__row container__row--action">
      <ion-col class="container container__column ion-justify-content-center ion-align-items-center" size="12">
        <ion-button class="container container__button" [disabled]="seventhForm.form.invalid"
          (click)="onGenerateReport()" expand="block" shape="round" color="primary">
          Generar reporte
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>