<title-header [titlePath]="'Regresar'" [title]="'Entrada Carnes'" (onBack)="onBack($event)"></title-header>

<ion-content>
  <ion-grid fixed class="container container--all">
    <ion-row class="container container__row container__row--form-above">
      <ion-col class="container container__column" size="12">
        <app-basic-form [titleForm]="'Materia extraña'" [infoOne]="'Ausente'" [placeholderMessage]="'Ingrese materia'"
          [typeValue]="'text'" #strageMaterialForm (onSubmit)="onSubmitStrageMaterial($event)"></app-basic-form>
      </ion-col>
    </ion-row>
    <ion-row class="container container__row container__row--form-below">
      <ion-col class="container container__column" size="12">
        <app-basic-form [titleForm]="'Caducidad'" [infoOne]="'Vigente'" [placeholderMessage]="'Ingrese caducidad'"
          [typeValue]="'text'" #expirationForm (onSubmit)="onSubmitStrageExpiration($event)"></app-basic-form>
      </ion-col>
    </ion-row>
    <ion-row class="container container__row container__row--action">
      <ion-col class="container container__column ion-justify-content-center ion-align-items-center" size="12">
        <ion-button class="container container__button"
          [disabled]="strageMaterialForm.form.invalid || expirationForm.form.invalid" (click)="onNextPage()"
          expand="block" shape="round" color="primary">
          Siguiente
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>