<title-header [titlePath]="'Regresar'" [title]="'Entrada Carnes'" (onBack)="onBack($event)"></title-header>

<ion-content>
  <ion-grid fixed class="container container--all">
    <ion-row class="container container__row container__row--form-above">
      <ion-col class="container container__column" size="12">
      </ion-col>
    </ion-row>
    <ion-row class="container container__row container__row--form-below">
      <ion-col class="container container__column" size="12">
      </ion-col>
    </ion-row>
    <ion-row class="container container__row container__row--action">
      <ion-col class="container container__column ion-justify-content-center ion-align-items-center" size="12">
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>