<ion-grid fixed class="container">
  <ion-row class="container container__row">
    <ion-col size="12">
      <h2>
        Empaque
      </h2>
      <h4>
        Sin daños y limpio
      </h4>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-item>
        <ion-label>Observaciones</ion-label>
        <ion-textarea></ion-textarea>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-list>
        <ion-radio-group name="auto" value="tesla">
          <ion-list-header>
            <ion-label>Materia Prima</ion-label>
          </ion-list-header>
          <ion-row>
            <ion-col size="6">
              <ion-item>
                <ion-label>Aceptado</ion-label>
                <ion-radio value="tesla"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item>
                <ion-label>Rechazado</ion-label>
                <ion-radio value="ford"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-radio-group>
      </ion-list>
    </ion-col>
  </ion-row>

  <ion-row class="container container__row">
    <ion-col size="12">
      <h2>
        Olor
      </h2>
    </ion-col>
    <ion-col size="12">
      <h4>Caracteristico</h4>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-item>
        <ion-label>Observaciones</ion-label>
        <ion-textarea></ion-textarea>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-list>
        <ion-radio-group name="auto" value="tesla">
          <ion-list-header>
            <ion-label>Materia Prima</ion-label>
          </ion-list-header>
          <ion-row>
            <ion-col size="6">
              <ion-item>
                <ion-label>Aceptado</ion-label>
                <ion-radio value="tesla"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item>
                <ion-label>Rechazado</ion-label>
                <ion-radio value="ford"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-radio-group>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>