<title-header [titlePath]="'Regresar'" [title]="'Entrada de carnes'" (onBack)="onBack($event)"></title-header>

<ion-content>
    <ion-grid fixed class="container container--all">
        <ion-row class="container container__row container__row--title">
            <ion-col class="container container__column" size="12">
                <h1 class="container container__title">Información principal</h1>
            </ion-col>
        </ion-row>
        <ion-row class="container container__row container__row--form">
            <ion-col class="container container__column" size="12">
                <first-form #firstForm (onSubmit)="onSubmit($event)"></first-form>
            </ion-col>
        </ion-row>
        <ion-row class="container container__row container__row--action">
            <ion-col class="container container__column ion-justify-content-center ion-align-items-center" size="12">
                <ion-button class="container container__button" (click)="onNextPage()" expand="block" shape="round"
                    color="primary" [disabled]="firstForm.form.invalid">
                    Siguiente
                </ion-button>
            </ion-col>

        </ion-row>
    </ion-grid>
</ion-content>